
<!-- login buttons -->
<div class="row">
  <div class = "col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2 btn-group-vertical homepage-buttons">

    <%= link_to 'Parent Login', "parents/sign_in", {class: 'btn btn-default', type: 'button'} %>
    <%= link_to 'Nurse Login', "nurses/sign_in", {class: 'btn btn-default', type: 'button'} %>
    <%= link_to 'Administrator Login', "administrators/sign_in", {class: 'btn btn-default', type: 'button'} %>

  </div>
</div>
