
<!-- login buttons -->
<div class="row">
  <div class = "col-md-4 col-sm-6 col-xs-8 btn-group-vertical homepage-button-container">

    <%= link_to 'Parent Login', "parents/sign_in", {class: 'btn btn-default root-homepage-buttons', type: 'button'} %>
    <%= link_to 'Nurse Login', "nurses/sign_in", {class: 'btn btn-default root-homepage-buttons', type: 'button'} %>
    <%= link_to 'Administrator Login', "administrators/sign_in", {class: 'btn btn-default root-homepage-buttons', type: 'button'} %>

  </div>
</div>
