@import "bootstrap-sprockets";
@import "bootstrap";
@import "nurse.scss";
@import "parent.scss";

.header {
  font-size: 40px;
  text-align: center;
  margin: 0 0 0 0;
  font-family: Impact, fantasy;
}
