@import "bootstrap-sprockets";
@import "bootstrap";
@import "nurse.scss";

.header {
  font-size: 40px;
  text-align: center;
  margin: 0 0 0 0;
  font-family: Impact, fantasy;
}

//.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
//  background-color: #949494 !important;
//}

//.body {
//  background: url(black-mamba.png) blue;
//}

