// Place all the styles related to the Nurse controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/

.nurse-homepage-button {
  margin-top: 50px;
}

.nurse-alert {
  margin-top: 50px;
  border: 2px solid black;
  border-radius: 10px;
}

.nurse-homepage-buttons {

  margin-top: 14%;

}

.nurse-alert-header {
  text-decoration: underline;
  font-weight: bold;
}

