// Place all the styles related to the Nurse controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/

.nurse-homepage-button {
  margin-top: 50px;
}

.nurse-alert {
  margin-top: 50px;
  border: 5px solid black;
  border-radius: 10px;
}

.nurse-homepage-buttons {

  margin-top: 14%;

}

.nurse-alert-header {
  text-decoration: underline;
  font-weight: bold;
}

.fixed_header{
  width:500px;
  table-layout: fixed;
  border-collapse: collapse;
}
.fixed_header tbody{
  display:block;
  width:100%;
  overflow:auto;
  height:300px;
}

.fixed_header thead tr{
  display:block;
}

.fixed_header thead {
  background:black;
  color:#fff;
}

.fixed_header th, .fixed_header td {
  padding:5px;
  text-align: left;
  width: 200px;
}

.fixed_header tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}
* {
  box-sizing: border-box;
}
.column {
  float: left;
  width: 50%;
  padding: 5px;
}
.row::after{
  content: "";
  clear: both;
  display: table;
  margin-left: -5px;
  margin-right: -5px;
}
.table-wrapper {
  height: 800px;
  width: 550px;
  padding: 0px;
  margin: 0px auto 0px auto;
  overflow: auto;
}





.fixed_header tbody tr:last-of-type {
  border-bottom: 2px solid #000000;
}


h3 {
  text-align: center;
}
h2 {
  text-align: center;
}
h1 {
  text-align: center;
}